{% extends "users/layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<h1>Fire Watch Users</h1>
<div id="login-container">
  <form id="login-form" action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    {% if message %}
        <div style="color:red;">{{ message }}</div>
    {% endif %}
    <div>
      <label for="id_username">Username:</label>
      <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" placeholder="Username" required></div>
    <div>
      <label for="id_password">Password:</label>
      <input type="password" name="password" autocomplete="current-password" placeholder="Password" required></div>
    <input type="submit" value="Login">
  </form>
</div>
</div>
{% endblock %}
