{% extends "home/layout.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="login-container">
  <form class="login-form" action="{% url 'users:login' %}" method="POST">
    {% csrf_token %}
    <h2>Fire Watch</h2>
    {% if message %}
        <div style="color:red;">{{ message }}</div>
    {% endif %}
    <div><input type="text" name="username" placeholder="Username" required></div>
    <div><input type="password" name="password" placeholder="Password" required></div>
    <input type="submit" value="Login">
  </form>
</div>
{% endblock %}
