<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fire Watch Solutions{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
          <li><a href="/main/">Admin</a></li>
          <li><a href="/inventory/">Inventory</a></li>
          <li><a href="/scan/">Scan</a></li>
          <li><a href="/logs/">Logs</a></li>
          <li><a href="/notifications/">Notifications</a></li>
          <li><a href="/login/">Login</a></li>
        </ul>
    </nav>
    
    <div>
        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
    </div>
</body>
</html>
