{% extends "home/layout.html" %} 

{% block title %} 
Armory and Fire Control Solutions 
{% endblock %} 

{% block pagetype %} 
Home 
{% endblock %} 

{% block body %}
<h2>Armory and Fire Control Solutions</h2>
<div id="center-content">
  <div id="content-spacing"></div>
  <div id="info-container">
    <div class="grid-container">
      <div>
        <h3>Inventory Management</h3>
        <p>
          Add, remove, or search for firearms and ammunitions from a secure
          database using unique identifiers
        </p>
      </div>
      <div>
        <h3>Alert Notifications</h3>
        <p>
          Maintains firearm tracking logs and sends system notifications to
          armory personnel when a firearm is unable to be issued.
        </p>
      </div>
      <div>
        <h3>Armory Transfers</h3>
        <p>
          A control system that accurately tracks the transfer between DoD
          affiliated armories.
        </p>
      </div>
      <div>
        <h3>Turnover Automation</h3>
        <p>
          Accurately documents military personnel weapon turnover and provides
          appropriate logs to the chain of command.
        </p>
      </div>
      <div>
        <h3>Inventory Auditing</h3>
        <p>
          Conducts periodic system audits of current inventory stored within the
          local and remote databases
        </p>
      </div>
      <div>
        <h3>Maintenance</h3>
        <p>
          Keeps an updated firearm maintenance scheduler for DoD armories and
          alerts armory personnel of maintenance to c
        </p>
      </div>
    </div>
  </div>
  <div id="content-spacing"></div>
</div>
{% endblock %}
