<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fire Watch | {% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}">
</head>

<body class="page-color">
    <nav class="navbar"> 
        <ul>
          <li><a href="{% url 'home:index' %}" class="{% if request.path == '/' %}active{% endif %}">Home</a></li>
          <li><a href="{% url 'eventlog:eventlog' %}" class="{% if request.path == '/eventlog/' %}active{% endif %}">Event Log</a></li>
          <li><a href="{% url 'admin:index' %}"  class="{% if request.path == '/admin/' %}active{% endif %}">Admin</a></li>
          <li><a href="{% url 'users:login' %}" class="{% if request.path == '/login/' %}active{% endif %}">Login</a></li>
        </ul>
    </nav>
    <div class="content"> 
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
