body {
   background-color: whitesmoke;
   margin: 0; 
   font-family: "Roboto", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   font-variation-settings: "wdth" 100;
   font-weight: 100;
}

#page-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   max-width: 80vw;
   margin-left: 20vw;
}

#side-bar {
   display: flex;
   flex-direction: column;
   place-content: center start;
   background-color: #212121;
   width: 20vw;
   min-height: 100vh;
   position: fixed; 
   top: 0;
   left: 0;
   gap: 1rem;
   border-right: 2px solid #444;
   box-shadow: 4px 0 8px rgba(0, 0, 0, 0.25);
}

#title-bar {
   background-color: white;
   display: flex;
   justify-content: flex-start; 
   align-items: center; 
   flex-direction: row;
   height: 4rem;
   padding: 0 2rem; 
}

#title-bar h1 {
   font-weight: 900;
   font-size: 2rem;
   margin: 0;
   width: auto; 
}

#logo-card {
   display: flex;
   flex-direction: row;
   place-content: center;
   margin-top: .5rem;
   height: 10vh;
}

#logo-spacing {
   height: 100%;
}

#logo {
   height: 100%;
   place-content: center;
   padding: .5rem;
}

#logo img {
   max-height: 100%;
   width: auto;
}

#title {
   display: flex;
   height: 100%;
   color: whitesmoke;
   align-content: center;
   font-size: 1.75rem;
   font-weight: 600;
   place-content: center;
}

#nav-links {
   background-color: #212121;
   top: 3rem;
   margin-top: 1rem;
}

#nav-links ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: .5rem;
}

#nav-links a {
   display: block;
   color: #E0E0E0;
   text-align: center;
   padding: 4px;
   text-decoration: none;
   transition: background-color 0.2s;
   font-size: 1rem;
}

#nav-links a:hover, .navbar a.active {
   text-decoration: underline;
   text-decoration-thickness: .5px;
}

#business-info {
   border-top: 2px solid #444;
   padding: 1rem;
   display: flex;
   place-content: center;
   color: whitesmoke;
}

#business-info p {
   font-size: 0.75rem;
   margin: 0;
}

.user-icon img {
   width: 35px;           
   height: 35px;          
   border-radius: 50%;   
   object-fit: cover;    
}

.dropdown-arrow {
   font-size: 16px;
   margin-left: 8px;
   color: #333;
   cursor: pointer;
}

.user-icon img:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
   transition: box-shadow 0.3s ease; 
}

.dropdown-arrow:hover {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);  
   transition: box-shadow 0.3s ease; 
}

.dropdown-menu {
   display: none;           
   position: absolute;
   top: 100%;               
   left: 0;
   background-color: #fff;  
   border: 1px solid #ccc;  
   border-radius: 4px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
   width: 150px;           
   z-index: 10;
}

.dropdown-menu a {
   display: block;
   padding: 8px;
   text-decoration: none;
   color: #333;
   font-size: 14px;
}

.dropdown-menu a:hover {
   background-color: #f1f1f1; 
}

.user-icon-container {
   display: flex;
   position: relative;
   flex-direction: row;
   align-items: center;  
   justify-content: center;  
   margin-left: auto;
   gap: .5rem;
}


#content {
   color: black;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-around;
   padding-bottom: 5rem; 
   height: 100vh;
}

#slogout-link {
   background-color: #2C3E50;
   padding: 0.5rem;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   font-size: 1rem;
   text-align: center;
   transition: background-color 0.3s;
   margin: auto 1.5rem 0 1.5rem;
}

#slogout-link:hover {
   background-color: #34495E;
}

#slogout-link a {
   display: block;
   text-decoration: none;
   color: whitesmoke;
   width: 100%;
   height: 100%;
}


/* landing page formatting */

#center-content {
   display: flex;
   justify-content: center;
   align-items: center;
}

#content-spacing {
   height: 100%;
   padding: 0 1rem;
}

#login-link {
   background-color: #f1cc9b;
   padding: 1rem;
   border: none;
   border-radius: 24px;
   cursor: pointer;
   font-size: 1rem;
   text-align: center;
   transition: background-color 0.3s;
   margin: 2rem 0;
   border: black solid 1px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);  
}

#login-link:hover {
   background-color: #F3E9DC;
}

#login-link a {
   display: block;
   text-decoration: none;
   color: black;
   font-weight: 300;
   width: 100%;
   height: 100%;
}

#info-container {
   padding: 1rem;
   box-shadow: 2px 4px 5px black;
   background-image: url("./img/gun-metal.png");
   background-color: #191818;
   border-radius: 4px;
}

#info-header {
   color: whitesmoke;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
   text-align: center;
   padding-left: 18rem;
   padding-right: 18rem;
   text-shadow: 1px 1px 2px rgba(202, 198, 198, 0.7);

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1px;
  background-color: whitesmoke;
}

.grid-container > div {
  background: #e0e0e0;
  padding: 20px 40px 20px 40px;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  text-align: center;   
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  min-height: 10rem;
  min-width: 8rem;
}

.grid-container > div:hover {
  box-shadow: 0 4px 12px rgba(118, 116, 116, 0.1);
  transform: translateY(-3px);
}

.grid-container h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.grid-container p {
  margin: 0;
  font-size: 14px;
  color: #444;
}



